@import url('../../../index.css');

.aside_team--wrapper {
    position: relative;
}

.aside_team--name {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.aside_team--name:hover {
    background-color: var(--dark-hover);
}

.aside_team--label {
    margin: 0;
    font-size: 20px;
}

.aside_team--icon {
    font-size: 12px;
}

.aside_team--details {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px var(--shadow);
    border: 1px solid var(--border);
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 125;
}

.aside_team--header {
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.aside_team--image {
    height: 40px;
    aspect-ratio: 1;
    background-color: var(--border);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aside_team--information p {
    margin: 0;
    color: var(--body);
    font-size: 15px;
}
.aside_team--contents {
    padding: 5px 0;
}

.aside_team--links_section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--body);
    font-size: 15px;
}

.delete {
    color: var(--red)
}

.option--icon {
    font-size: 12px;
}

.aside_team--links_section:hover {
    background-color: var(--color-hover);
    color: white;
}

.aside_team--modal {
    background-color: white;
    border: 1px solid var(--border);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
 }

 .aside_team--modal--message {
    margin: 0 0 15px 0;
    line-height: 1.6;
    color: var(--body);
 }

 .aside_team--modal--message strong {
    color: black;
 }

 .aside_team--modal--actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
 }

 .aside_team--modal--action {
    padding: 10px 20px;
    border: 1px solid var(--body);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
 }

 .modal--cancel:hover {
    background-color: var(--light-hover);
 }

 .modal--delete {
    color: var(--red);
    border: 1px solid var(--red);
 }

 .modal--delete:hover {
    background-color: var(--red);
    color: white;
 }
