@import url('../../index.css');

#message_feed--wrapper {
    flex: 1;
    overflow-y: scroll;
    padding: 70px 0 175px 0;
}

.message_feed--introduction {
    padding: 30px 15px;
}

.message_feed--user {
    text-transform: capitalize;
    font-weight: 600;
}

.message_feed--introduction--recipient {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message_feed--introduction--image {
    height: 70px;
    aspect-ratio: 1;
    background-color: var(--border);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
}

.message_feed--introduction--information p {
    margin: 0;
    color: var(--body)
}

.message_feed--introduction--information p:first-of-type {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.message_feed--introduction--greeting {
    font-size: 18px;
    color: var(--body)
}

.link-to-user {
    font-weight: 600;
    cursor: pointer;
}

.link-to-user:hover {
    text-decoration: underline;
}

.most_recent--button {
    padding: 10px 15px;
    border: 1px solid var(--border);
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

.most_recent--button:hover {
    background-color: var(--light-hover);
}

.most_recent--icon {
    font-size: 12px;
}
