@import url('../../index.css');

.team_home--header {
    justify-content: flex-start;
    gap: 10px;
}

.views--header_label {
    flex-shrink: 0;
}

.team--description {
    font-size: 15px;
    color: var(--body);
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1;
   -webkit-box-orient: vertical;
}

.team_home--contents {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-hover);
}

.team_home--image {
    height: 350px;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 1px var(--shadow);
}

.team_home--data {
    width: 500px;
    text-align: center;
}

.team_home--name {
    font-size: 30px;
    margin-bottom: 0;
}
.team_home--description {
    font-size: 22px;
    color: var(--body);
    margin: 5px 20px 30px 20px;
}

.team_home--member_count {
    padding: 10px 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: 20px 0;
    background-color: white;
}


@media screen and (max-width: 900px) {
    .team--description {
        display: none;
    }

    .team_home--image {
    height: 350px;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 1px var(--shadow);
}
}

@media screen and (max-width: 600px) {

    .team_home--image {
        height: unset;
        width: 80%;
    }

    .team_home--data {
        width: 100%;
    }

    .team_home--name {
        font-size: 20px;
    }
    .team_home--description {
        font-size: 15px;
    }

}
