#root {
    font-family: 'Outfit', sans-serif;
    --blue: #1c1c47;
    --border: #dadada;
    --light-hover: #fafafa;
    --dark-hover: #ffffff1a;
    --color-hover: #5a8cf0bf;
    --light-accent: #e0eaff;
    --body: #656565;
    --shadow: #0000001a;
    --content: 1110px;
    --red: #ff1313;
  }

  * {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
  }

  body, html {
    margin: 0;
  }

  .link {
    color: var(--color-hover);
    cursor: pointer;
  }

  .link:hover {
    text-decoration: underline;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
  }
