@import url('../../index.css');

.create_channel--wrapper {
    background-color: white;
    position: relative;
    width: 500px;
    border-radius: 10px;
}

.create_channel--header {
    color: var(--body);
    padding: 25px 25px 0 25px;
    border-bottom: 1px solid var(--border);
}

.create_channel--header h3 {
    margin: 5px 0;
}

.create_channel--form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form--label--label {
    color: var(--body)
}

.form--label--wrapper {
    display: flex;
    align-items: center;
    color: black;
    gap: 15px;
}

.create_channel--button {
    padding: 15px 0;
    border-radius: 5px;
    border: none;
    background-color: var(--blue);
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.create_channel--button:disabled {
    background-color: var(--light-hover);
    color: var(--body);
    pointer-events: none;
}

.join_channel--header {
    padding: 20px;
    border-bottom: 1px solid var(--border);
}

.join_channel--search {
    display: flex;
    align-items: center;
    position: relative;
}

.join_channel--search_icon {
    position: absolute;
    color: var(--body);
    left: 15px;
}

.join_channel--input {
    padding: 10px 15px 10px 40px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
}

.join_channel--input:focus {
    outline: transparent;
    border: 1px solid var(--active-border)
}

.join_channel--channels {
    color: var(--body);
    list-style-type: none;
    padding: 5px 0;
}

.join_channel--channel {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.join_channel--channel:hover {
    background-color: var(--color-hover);
    color: white;
}

.no-matching-channels {
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .create_channel--wrapper {
        width: 90%;
    }
}
