@import url('../../index.css');

.message_textarea--wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0 20px 20px 20px;
    width: 100%;
    background-color: white;
}

.message_textarea--container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border);
}


.message_textarea--input {
    height: 100px;
    padding: 20px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    resize: none;
}

.message_textarea--input:focus {
    outline: transparent;
}

.message_textarea--actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

.message_textarea--button {
    padding: 10px 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: var(--light-hover);
    color: var(--body);
    border-radius: 5px;
}

.active-btn {
    background-color: green;
    color: white;
    cursor: pointer;
}

.active-btn:hover {
    background-color: darkgreen;
}

.message_textarea--count {
    font-size: 12px;
    color: var(--body);
    padding-left: 10px;
}


@media screen and (max-width: 600px) {
   .message--message {
      font-size: 15px;
   }

   .message_textarea--container {
        flex-direction: row;
        position: relative;
   }

   .message_textarea--input {
        width: 100%;
        height: 70px;
        padding: 15px;
        font-size: 15px;
   }

   .message_textarea--count {
        position: absolute;
        right: 0;
        top: -25px;
   }

   .message_textarea--button {
        padding: unset;
        height: 40px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
   }

   .message_textarea--actions {
        padding: 0 15px;
    }

   .message_textarea--button span {

        display: none;
   }



}
