@import url('../../index.css');

#thread--wrapper {
    max-width: 400px;
    border-left: 1px solid var(--border);
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 5px;
}

.thread--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 60px;
    border-bottom: 1px solid var(--border);
    text-transform: capitalize;
}

.thread--header h1 {
    font-size: 20px;
    margin: 0;
}

.thread--close_wrapper {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body);
    cursor: pointer;
}

.thread--close_wrapper:hover {
    background-color: var(--light-hover);
}

.user_thread--wrapper {
    padding: 30px;
}

.thread_user--image {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--color-hover);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    color: white;
    font-size: 150px;
}

.user_thread--username {
    text-transform: capitalize;
    font-weight: 600;
}

#thread_feed--wrapper {
    flex: 1;
    overflow-y: scroll;
    padding: 0px 0 175px 0;
}

.update_image--span {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.update_image--span span {
    font-size: 15px;
    color: var(--body)
}

.update_image--span-upload {
    display: flex;
    align-items: center;
    gap: 15px;
}

.update_image--button {
    padding: 10px 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    align-self: flex-start;
    font-size: 13.33333px;
    font-weight: 600;
    cursor: pointer;
}

.update_image--button:hover {
    background-color: var(--light-hover);
}

#user-image {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.submit_image--button {
    background-color: green;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.submit_image--button:hover {
    background-color: darkgreen;
}
