@import url("../../index.css");

#landing--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing_header--wrapper {
  background-color: var(--blue);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.landing_header--contents {
  width: var(--content);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing_header--logo {
  color: white;
  display: flex;
  align-items: center;
}

.landing_header--image {
  height: 60px;
}

.landing_header--text {
  font-size: 25px;
  margin: 0;
  font-weight: 600;
}

.landing_header--actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

#sign-in {
  background-color: transparent;
  border: none;
  color: white;
}

#sign-in:hover {
  text-decoration: underline;
}

#sign-up {
  border: none;
  background-color: white;
  color: var(--blue);
}

#sign-up:hover {
  background-color: var(--light-hover);
}

.landing_splash--wrapper {
  background-color: var(--blue);
  padding: 50px 0 100px 0;
  display: flex;
  justify-content: center;
}

.landing_splash--contents {
  width: calc(var(--content) - 30px);
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.landing_splash--text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landing_splash--text h1 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
}
.landing_splash--text p {
  font-size: 20px;
}
.accent {
  color: var(--color-hover);
}

.landing_splash--image {
  height: 400px;
  background-color: var(--border);
  border-radius: 10px;
  align-self: center;
}

.landing_splash--text_btn {
  border: none;
}

.landing_splash--text_btn:hover {
  background-color: var(--light-hover);
}

.landing_technologies--wrapper {
  background-color: var(--light-hover);
  padding: 50px 0 30px 0;
  display: flex;
  justify-content: center;
}

.landing_technologies--contents {
  width: var(--content);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--body);
}

.landing_technologies--contents p {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

.landing_technologies--icons {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 30px 0;
}

.landing_technologies--icon {
  font-size: 60px;
  color: var(--blue);
}


#outro-sign-up {
  background-color: var(--blue);
  color: white;
  border: 2px solid var(--blue);
}

#outro-sign-in {
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: transparent;
}

.landing_footer--wrapper {
  background-color: white;
}

.landing_outro--boxes {
  display: flex;
  justify-content: space-between;
}

/* THE ABOUT US BOXES */

.landing_about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../../assets/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 0%;
  padding: 0 0 100px 0;
}

.landing_about--heading{
  font-size: 40px;
  color: var(--blue);
}

.landing_about--boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: var(--content)
}

.landing_about--box {
  box-shadow: 1px 1px 5px 1px var(--shadow);
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  transition: all .2s;
}

.landing_about--box:hover {
  transform: scale(1.05,1.05);
}

.landing_about--box img {
  width: 100%;
  border-radius: 5px;
}

.landing_about--box p {
  text-align: center;
  font-size: 18px;
  color: var(--body);
  flex: 1;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.social-icon {
  font-size: 24px;
  color: var(--blue)
}

.social-icon:hover {
  color: var(--color-hover)
}

.landing_footer--wrapper {
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing_footer--contents {
  width: var(--content);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
}
.landing_footer--section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landing_footer--section h4 {
  font-size: 18px;
  margin-bottom: 30px;
}

.landing_footer--section li {
  color: var(--body);
  display: flex;
  align-items: center;
  gap: 10px;
}
.landing_footer--section li span:first-of-type {
  position: relative;
  top: 3px;
}
.landing_footer--logo {
  height: 100px;
  align-self: center;
  justify-self: center;
}

.landing_footer--footer {
  border-top: 1px solid var(--border);
  width: var(--content);
  padding: 30px 0;
  margin-top: 50px;
  font-size: 15px;
  color: var(--body)
}

.landing_footer--button {
  border: 1px;
  padding: 0 10px;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 10px;
  justify-content: space-between;
  text-decoration: none;


}

.landing_footer--button  span:first-of-type {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .landing_header--wrapper {
    padding: 15px 5%;
  }

  .landing_header--contents {
    width: 100%;
  }

  .landing_splash--wrapper {
    padding: 50px 5% 100px 5%;
  }
}

@media screen and (max-width: 900px) {
  .landing_header--image {
    height: 40px;
  }

  .landing_header--text {
    font-size: 20px;
  }

  .landing_splash--contents {
    width: 100%;
    padding: 5%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
  }

  .landing_splash--image {
    height: unset;
    width: 100%;
    background-color: var(--border);
    border-radius: 10px;
    align-self: center;
  }

  .landing_technologies--contents p {
    font-size: 20px;
    text-align: center;
    padding: 0 5%;
  }

  .landing_technologies--icons {
    padding: 20px 20px 20px 20px;
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .landing_technologies--icon {
    font-size: 3rem;
    display: block;
  }

  .landing_splash--text h1 {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
  }

  .landing_splash--text p {
    text-align: center;
  }

  .landing_splash--text_btn {
    margin: 0 auto;
  }

  .landing_about {
    display: flex;
    align-items: unset;
  }

  .landing_about--box {
    box-shadow: 1px 1px 5px 1px var(--shadow);
    display: grid;
    background-image: unset;

  }

  .landing_technologies--contents {
    width: 100%;
  }

  .landing_about--heading{
    padding: 0 5%;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
  }

  .landing_about--boxes {
    grid-template-columns: 1fr;
    padding: 0 30px;
    margin: 0 auto;
    width: 90%;
  }

  .landing_about--box img {
    width: 80%;
    margin: 0 auto;
  }

  .landing_footer--contents {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .landing_footer--wrapper {
    padding: 0;
  }

  .landing_footer--logo {
    height: 70px;
  }

  .landing_footer--section ul {
    align-items: center;
  }


  .landing_footer--section {
    text-align: center;
  }

  .landing_footer--footer {
    text-align: center;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }






}
