@import url("../../index.css");

#landing--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing_header--wrapper {
  background-color: var(--blue);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.landing_header--contents {
  width: var(--content);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing_header--logo {
  color: white;
  display: flex;
  align-items: center;
}

.landing_header--image {
  height: 60px;
}

.landing_header--text {
  font-size: 25px;
  margin: 0;
  font-weight: 600;
}

.landing_header--actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

#sign-in {
  background-color: transparent;
  border: none;
  color: white;
}

#sign-up {
  border: 2px solid white;
  background-color: white;
  color: var(--blue);
}

.landing_splash--wrapper {
  background-color: var(--blue);
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.landing_splash--contents {
  width: calc(var(--content) - 30px);
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.landing_splash--text {
  color: white;
}
.landing_splash--text h1 {
  margin: 0;
  font-size: 50px;
  line-height: 50px;
}
.landing_splash--text p {
  font-size: 20px;
}
.accent {
  color: var(--color-hover);
}

.landing_splash--image {
  height: 300px;
  background-color: var(--border);
  border-radius: 10px;
  align-self: center;
}

.landing_technologies--wrapper {
  background-color: var(--light-hover);
  padding: 70px 0;
  display: flex;
  justify-content: center;
}

.landing_technologies--contents {
  width: var(--content);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--body);
}

.landing_technologies--contents p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.landing_technologies--icons {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 30px 0;
}

.landing_technologies--icon {
  font-size: 60px;
  color: var(--blue);
}

.landing_outro--wrapper {
  background-color: var(--light-hover);
  display: flex;
  justify-content: center;
  padding: 0 0 100px 0;
}

/* .landing_outro--wrapper::before {
    border-radius: 100%;
    position: absolute;
    background: black;
    right: -200px;
    left: -200px;
    bottom: 0px;
    content: '';
    bottom: 0;
  } */

.landing_outro--contents {
  width: var(--content);
  color: var(--body);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_outro--contents h2 {
  font-size: 50px;
  color: var(--blue);
}

.landing_outro--actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

#outro-sign-up {
  background-color: var(--blue);
  color: white;
  border: 2px solid var(--blue);
}

#outro-sign-in {
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: transparent;
}

.landing_footer--wrapper {
  background-color: white;
}

.landing_outro--boxes {
  display: flex;
  justify-content: space-between;
}

/* THE ABOUT US BOXES */

.landing_outro--box {
  width: 200px;
  height: 300px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  box-shadow: 0 0 10px rgb(130, 127, 127);
  transition: transform 0.4s ease, box-shadow 0.2s ease,
    background-color 0.3s ease;
}

.landing_outro--box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(49, 49, 146); /* Add shadow */
}

.landing_outro--box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.landing_outro--box p {
  margin-top: 1px;
  font-weight: bold; /* Make text bolder */
  color:#000000;
  padding: 1px 12px 10px 25px;
  text-align: start;
}

.social-icons {
  position: absolute;
  bottom: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.social-icon {
  font-size: 24px;
  color: rgb(49, 49, 146);
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0010f7;
}

.landing_outro--wrapper .about_us {
    text-align: start;
    margin-bottom: 20px;
  }
